table{
	width:250px;
	
}

table td{
	padding:5px;
	
}

#center_section{
	font-family: Microsoft JhengHei;
}

.login_title{
	color:rgb(119,188,160);
	
}



ul{
	
	list-style:none;
	margin:0px;
	padding:0px;
	
}

