
/* item_section ====== */
.course_img{
	height:120px;
	margin:20px 10px;
}
#intro_list{
	list-style:none;
}
#intro_list li{	
	margin-bottom:10px;
	padding-right:40px;
}
#confirm_list{
	list-style:none;
	padding:0px;
}
#confirm_list li{	
	margin-bottom:10px;
	padding-right:40px;
	font: 16px Microsoft JhengHei;
	
}
#buy_button,#cancel_button{
	display:inline;
}

#buy_button,#cancel_button{
	width:150px;
	text-align:center;
	border-radius:5px;
	background:rgb(48,78,101);
	color:white;
	font:16px Microsoft JhengHei;
	padding:3px 7px;
}

#buy_button:hover,#cancel_button:hover{	
	background:rgb(169,211,197);		
}
#item_section table tr td{
	vertical-align:middle;
}
#item_section table tr td:nth-child(3),
#item_section table tr td:nth-child(4){
	width:100px;
}
.red{
	color:red;
}
.big{
	font-size:larger;
	font-weight:900;
}

.center_header {
	font: bold 20px Microsoft JhengHei;
	color: rgb(119, 188, 160);
	color: rgb(48, 78, 101);
	margin: 0px 0px 20px 0px;
	/* border:blue 1px solid; */
}
#center_section {
	font-family:Microsoft JhengHei;
	
}
