/* center_section =====================*/

.center_title{
	font:bold 16px Microsoft JhengHei;
	color:#444;
	margin:10px 0px 10px 0px;
}

.center_desc{
	font: 14px Microsoft JhengHei;
	color:#777;
}
.center_price{
	font: bold 16px Microsoft JhengHei;
	color:rgb(119,188,160);
}

#list_section{
	width:750px;
	float:left;
	margin-right:20px
}

#teacher_section{
	width:300px;
	float:right;
}

/* intro_section ====== */

.course_img{
	height:120px;
	margin:0px 10px;
}

#intro_list{
	list-style:none;
}

#intro_list li{
	margin-bottom:10px;
}

/* list_section ====== */

.content_img{
	width:22px;
	margin:10px;
}

#list_section{
	font-family:Microsoft JhengHei;
}

#list_section table tr td:first-child{
	width:150px;
	text-align:right;
}

#list_section table tr td:nth-child(2){
	vertical-align:middle;
	font-size: 14px;	
}

.panel-heading{
	background:#eee!important;
	font:bold 26px Microsoft JhengHei!important;
	color:#555!important;
	padding:18px;	
}

.unit_list{
	margin:60px 0px;
}



/* teacher_section ====== */

.teacher_img{
	width:100px;
	height:100px;
}

#teacher_section{
	font-family:Microsoft JhengHei;
}

#teacher_section ul li{
	list-style:none;
	margin-bottom:15px;
}


