/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/


.borderless {
	
	font-size: 16px;
}
#video {
 	text-align: center;
}

#tabs {
	width: 	245px; 

}

.ui-menu { 
	width: 180px; 
}

.ui-widget-header { 
	
	padding: 0.4em; 
	text-align: center;
}

.button{
	text-align: center;
}

.toggler {
    float:left;
    width: 400px;
    height: 200px;
  }
  
 #button {
    padding: .5em 1em;
    text-decoration: none;
}

#effect {
    position: relative;
    width: 900px;
    height: 650px;
    padding: 0.4em;
    
}

#effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
}

/* Elements */

body {
	background: #fff;
	margin: 20px 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A1A1A1;
}

h1 {
}

h2, h3, h4, h5, h6 {
	color: #2582A4;
}

p, ol, ul {
	text-align: justify;
}

strong {
	font-weight: bold;
	color: #808080;
}

a {
	color: #87A019;
}

a:hover {
	text-decoration: none;
	color: #2582A4;
}

.box {
	margin-bottom: 0;
	padding-bottom: 0;
	
}

.bottom {
	display: block;
	margin-bottom: 0;
	padding-bottom: 10px;
	
}

.image {
	float: left;
	margin: 3px 0 0 0;
	padding: 0;
}

.indent {
	margin-left: 125px;
}

/* Header */

#header {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	
	border-bottom: 4px solid #FFFFFF;
}

/* Menu */


/* Content */

#content {
	width: 1200px;
	margin: 0 auto;
}

#colOne {
	float: left;
	width: 250px;
	
}

#colOne h3 {
	padding: 0 20px;
}

#colOne ul {
	margin-left: 0;
	padding-left: 10px;
	padding-right: 20px;
	list-style: none;
}

#colOne li {
	padding: 10px 0;
	border-top: 1px solid #EFEFEF;
}

#colOne li.first {
	border: none;
}

#colTwo {
	float: right;
	width: 860px;
	height:800px;
	padding: 30px 40px 0 30px;
	
}

#colTwo h2 {
	margin-top: 0;
	font-size: 26px;
}

#colTwo h3 {
	margin-bottom: 0;
	font-size: 18px;
}

#colTwo h4 {
	margin-top: 0;
	font-size: 11px;
	font-weight: normal;
}

#colTwo .box {
	margin: 0 -10px 30px -20px;
	padding: 0 30px 0 20px;
}

#colTwo .bottom {
	margin: 0 0 20px -20px;
	padding: 0 0 20px 20px;
}

/* Logo */

#logo1 {
	width:250;
	height: 100px;
	background:blue;
	
}

#logo1 h1, #logo1 h2, #logo1 a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
}

#logo1 h1 {
	padding-top: 25px;
	font-size: 34px;
}

#logo1 h2 {
	margin-top: -5px;
	font-size: 12px;
}

/* Footer */

#footer {
	clear: both;
	width: 1200px;
	margin: 0 auto;
	padding-top: 40px;
	
}

#footer p {
	margin: 0;
	text-align: center;
}