
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	height:800px;
	background: white ;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family:Microsoft JhengHei;
	font-weight: normal;
	color: #F93D00;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #704A21;
}

a:hover {
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 960px;
	height: 85px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	width: 1200px;
	height: 65px;
	margin: 0;
	padding-top: 20px;
	color: #FFFFFF;
	margin-left: -70px;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	
}

#logo h1 {
	float: left;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 2.6em;
}

#logo h2 {
	float: left;
	letter-spacing: -1px;
	font-size: 40px;
	color:rgb(48, 78, 101);
}

#logo p {
	float: left;
	margin: 0;
	padding: 12px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 230px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 70px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	border: none;
	text-transform: lowercase;
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#search-submit {
	display: none;
}



/* Page */

#page {
	width: 1020px;
	margin: 0 auto;
}

#page-bgtop {
}

#page-bgbtm {
}

/* Content */

#content {
	float: right;
	width: 700px;
	padding: 60px 20px 0 0;
	margin-right:80px;
	margin-top: -40px;
}

.post {
	margin-bottom: 8px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	background: rgb(48, 78, 101);
	border: 2px #EEE3C3 solid;
	width:920px;
	height: 50px;
	padding: 8px 0 0 15px;
	letter-spacing: -.5px;
	color: rgb(236, 250, 247);
	font-weight:900;
}

.post .title a {
	background: url(images/img04.jpg) no-repeat 0 5px;
	padding-left: 25px;
	color: #FFF3D1;
	border: none;
}

.post .meta {
	padding-left: 20px;
	padding-bottom: 5px;
	text-align: left;
	font-family:Microsoft JhengHei;
	font-size: 11px;
	font-style: italic;
}

.post .entry {
	padding: 10px 20px 15px 20px;
	width:920;
	height:550;
	background-color:rgb(48, 78, 101);
	text-align: justify;
	
}

#video {
	
	margin-left: -20px;
	margin-top: -5px;
}

#tbcontent {
	background-color:rgb(230, 250, 250);
	
}

#btsubmit {
	text-align:right;
	color:green;
	font-size: 18px;
	font-weight:bold;
	font-family:Microsoft JhengHei;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 300px;
	padding: 60px 0 0 0px;
	color: #787878;
	margin-left: -90px;
	margin-top: -40px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding-bottom: 30px;
}

#sidebar li li {
	margin-left: 15px;
	margin-right: 15px;
	line-height: 35px;
	border-bottom: 1px dashed #D2D4C9;
	text-align:center;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	background: rgb(48, 78, 101);
	border: 2px rgb(200, 250, 247) solid;
	height: 32px;
	padding: 8px 0 0 15px;
	letter-spacing: -.5px;
	font-size: 18px;
	font-family:Microsoft JhengHei;
	font-weight:900;
	color: rgb(236, 250, 247);
	text-align:center;
}

#sidebar p {
	margin: 0 15px;
	
	padding-bottom: 20px;
	text-align: justify;
}

#sidebar a {
	color: #428bca;
	border: none;
	font-size: 16px;
	font-weight:900;
	
}

#sidebar a:hover {
	text-decoration: underline;
	color: #787878;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

