	.bg{
	 	display:none;
	 	position:fixed;
		 width:100%;
		 height:100%;
	 	background:#000;
		 z-index:2;
		 top:0;
		 left:0;
	 	opacity:0.7;
	}
	.content{
		 display:none;
		 width:300px;
		 height:350px;
		 position:fixed;
		 top:50%;
		 margin-top:-280px;
		 background:#fff;
		 z-index:3;
		 left:50%;
		 margin-left:-380px;
	}