
/* center_section =====================*/
* {
	font-family: Microsoft JhengHei;
}

/* img_section =======*/
#img_section img{
	border:rgb(169,211,197) 5px solid;
}

/* program_section =======*/
.program_box{
	float:left;
	width:320px;
	border:#ddd 1px solid;
	padding:20px;
	margin:20px;	
}
.program_box:hover,.course_box:hover{
	background:#eee;
	text-decoration:none;
}


/* course_section =======*/
.course_box{
	border:#ddd 1px solid;
	width:500px;
	height:130px;
	padding:15px;
	float:left;
	margin:20px;
}
.course_img{
	float:left;
	margin-right:15px;
	width:100px;
}
.course_text{
	float:left;
	width:320px;	
}

/* discuss_section =======*/

#discuss_section{
	margin-bottom:60px;	
}

#discuss_content{
	margin:20px 0px;
	padding:20px;
}
