

.table-bordered>tr.success>td,
.table-bordered>tr.success>th {
  background-color:  rgb(225,237,233) !important;
}

.table-bordered>tr.active>td,
.table-bordered>tr.active>th {
  background-color:  #eee !important;
}

.table-bordered{
	margin:5px 0px 80px 0px;
	
}

.borderless td, 
.borderless tr{
    padding:10px 20px;
}

.borderless th{
	text-align:right;
	
}

