
/* center_section =====================*/


.center_header{
	font:bold 20px Microsoft JhengHei;
	color:rgb(119,188,160);
	color:rgb(48,78,101);
	margin:0px 0px 20px 0px;
}

.center_title{
	font:bold 16px Microsoft JhengHei;
	color:#444;
	margin:20px 0px 10px 0px;
}

.center_desc{
	font: 14px Microsoft JhengHei;
	color:#777;
}
.center_price{
	font: bold 16px Microsoft JhengHei;
	color:rgb(119,188,160);
}

/* list_section ====== */


#list_section{
	width:800px;
	float:left;
	margin-right:20px
}
#category_section{
	width:250px;
	float:right;
}

.course_img{
	height:90px;
	margin:20px 10px;
}
table tr td{
	margin:50px;
	height:1px;
}

table tr td:first-child{
	width:120px;
	
}
table tr td:last-child{
	width:120px;
	text-align:right;
}

/* category_section ====== */
#category_section ul li{
	list-style:none;
	margin:5px auto;
	
}
#category_title{
	font:bold 16px Microsoft JhengHei;
	color:#444;
	margin-bottom:15px;
}
#category_section{
	font-family:Microsoft JhengHei;
}
