* {
	font-family: Microsoft JhengHei;
	font-size:16px;
}


#mainx-table2{        /* 版規公告*/
	 width: 800px;	 
	 margin:0px auto;
	 font-size:16px;
	
}




#mainx-table3{         /* 版規公告*/
	 width: 800px;	 
	 text-align:left;
	 font-size:12px;
	 padding: 20px;
	  align:center;
}


#table1{                   /* 主題列表table*/
  border:0px  ;   
  font-size:15px; 
/*   border-bottom:4px double #888888;  */
 
 }
 
 

#topic-table2{           /* 主題文章table*/
	 text-align:left;
	 vertical-align:middle;
	 width:400px;
	
	   
}



#button-text{            /* 階層位置*/
	color: blue;
	padding-left: 30px;
	font-size: 16px;
	
}

#article-table1{
	   
	font-size:18px;
	text-align:left;
	font-weight: bold;   
	
	}


#article-table2{
	height: 300px;
    text-align:left;  
	font-size:16px;
	vertical-align:top;
	
	}

#article-ckeditor{
	width:1000px;
	margin:0px auto;
	text-align:center;
	}

 	
#frotable{
	width:1500px;
	align:center;
	
}	

#indextable{
	font-size:26px;
/*     text-align:center; */
	}

.customized_row > th {
  background-color: #DDDDDD !important;
}