/* 
deep blue: rgb(48,78,101)
deep green: rgb(119,188,160)
green: rgb(169,211,197)
light green: rgb(225,237,233)
light green: rgb(236,250,247)
 */
* {
	font-family: Microsoft JhengHei;
}

.inside_1200 {
	width: 1330px;
	margin: 0px auto;
}

.center_header {
	font: bold 20px Microsoft JhengHei;
	color: rgb(119, 188, 160);
	color: rgb(48, 78, 101);
	margin: 50px 0px 20px 0px;
}

.center_title {
	font: bold 16px Microsoft JhengHei;
	color: #444;
	margin-bottom: 5px;
}

.center_desc {
	font: 14px Microsoft JhengHei;
	/* text-align:center; */
	color: #777;
}

.menu_name {
	font: 16px Microsoft JhengHei;
}

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #fff;
}

#big_wrapper {
	min-height: 100%;
	position: relative;
}

.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td
	{
	border: 1px solid #bbb;
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
	{
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: middle;
	border-top: 1px solid #bbb;
}

.breadcrumb {
	background: white;
}

.backtitle {
	margin: 15px 10px;
	color: rgb(119, 188, 160);
}

.titleBgcolor > th, .titleBgcolor > td{
  background-color: #eaeaea !important;
}

.table-bordered th, .table-bordered td{
	vertical-align:middle;
	text-align:center;
}

.borderless td,.borderless tr {
	padding: 10px;
	text-align:left;
}

.table-bordered.left th, .table-bordered.left td{
	vertical-align:middle;
	text-align:left;
}



form{
	margin:0px;
}


.button_width{
	width:80px;
}
.number_width{
	width:100px;
}
.text_width{
	width:150px;
}
.time_width{
	width:300px;
}

/* header_section================================  */
#header_section {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	min-width: 100%;
	background: rgb(236, 250, 247);
	border-bottom: 5px solid rgb(169, 211, 197);
	padding: 10px 0px 15px 0px;
}

#logo {
	float: left;
	margin-left: 15px;
}

#logo_img {
	vertical-align: bottom;
}

#logo_eng {
	font: 26px rockwell;
	vertical-align: middle;
	letter-spacing: 3px;
}

#logo_ch {
	font: 24px Microsoft JhengHei;
	vertical-align: middle;
	letter-spacing: 12px;
}

/* top_member  =====================*/

#top_member {
	float: right;
	font: 16px Microsoft JhengHei;
	line-height: 20px;
	letter-spacing: 2px;
	padding-right:40px;
}

#top_member li{
	list-style:none;
	display:inline;
	padding:0px 8px;	
}

#top_member a {
	font: 16px Microsoft JhengHei;
	color: rgb(119,188,160);
}

#top_member a:hover {
	color: rgb(48,78,101);
	text-decoration: none;
}

/* sidebar_section================================  */
/* bar background */
#sidebar_section {
	position: fixed;
	top: 70px;
	left: 0px;
	z-index: 10;
	width: 260px;
	height: 100%;
	background: rgb(48, 78, 101);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	float: left;
}

.icon {
	float: right;
}

.nav.main-menu>li>a {
	text-align: center;
	color: rgb(225, 237, 233);
	height: 40px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	padding-left: 20px;
}

.nav.main-menu>li>a:hover,.nav.main-menu>li>a:focus,.nav.main-menu>li.active>a,.nav.main-menu .open>a,.nav.main-menu .open>a:hover,.nav.main-menu .open>a:focus,.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.dropdown-menu>li.active>a,.nav.main-menu a.active
	{
	background: rgba(0, 0, 0, 0.2);
}

.nav.main-menu a.active:hover {
	background: rgba(0, 0, 0, 0.2);
}

.nav.main-menu a.active-parent {
	background: rgba(0, 0, 0, 0.3);
}

.nav.main-menu a.active-parent:hover {
	background: rgba(0, 0, 0, 0.3);
}

/* dropdown width */
.main-menu .dropdown-menu {
	width: 100%;
	float: none;
	margin: 0;
	border: 0;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	z-index: inherit;
	background: rgba(0, 0, 0, 0.2);
	visibility: visible;
	-webkit-box-shadow: 0px 0px 0px;
}
/* child text */
.main-menu .dropdown-menu>li>a {
	padding: 9px 15px 9px 40px;
	color: #f0f0f0;
}
/* text position */
.nav.main-menu>li>a {
	text-align: left;
}

/* content_section================================  */
#content_section {
	position: relative;
	margin: 0px 0px 0px 260px;
}

#inside_content {
	padding: 80px 30px 30px 30px;
	width: 100%;
	min-width: 1200px;
	word-wrap: break-word;
	margin: 0px auto;
}