/* 
deep blue: rgb(48,78,101)
deep green: rgb(119,188,160)
green: rgb(169,211,197)
light green: rgb(225,237,233)
light green: rgb(236,250,247)
 */


.inside {
	width: 1080px;
	margin: 0px auto;
}

.center_header {
	font: bold 20px Microsoft JhengHei;
	color: rgb(119, 188, 160);
	color: rgb(48, 78, 101);
	margin: 50px 0px 20px 0px;
	/* border:blue 1px solid; */
}

.center_title {
	font: bold 16px Microsoft JhengHei;
	/* text-align:center; */
	color: #444;
	/* border:green 1px solid; */
	margin-bottom: 5px;
}

.center_desc {
	font: 14px Microsoft JhengHei;
	/* text-align:center; */
	color: #777;
}

hr {
	margin: 40px 0px;
	height: 1px;
	border-width: 0;
	background-color: #ccc;
	/* border:blue 1px solid; */
}

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#big_wrapper {
	min-height: 100%;
	position: relative;
}

#header_section {
	min-width: 1200px;
	background: rgb(236, 250, 247);
	border-bottom: 5px solid rgb(169, 211, 197);
	padding: 10px 0px 15px 0px;
}

.myaccount_title {
	margin: 15px 0px;
	font-weight:bold;
	color:rgb(48,78,101);
	font-family:Microsoft JhengHei;
}

.titleBgcolor > th, .titleBgcolor > td{
  background-color: #eaeaea !important;
}

/* logo  =====================*/

#logo {
	float: left;
}

#logo_img {
	vertical-align: bottom;
	height: 40px;
}

#logo_eng {
	font: 26px rockwell;
	vertical-align: middle;
	letter-spacing: 3px;
}

#logo_ch {
	font: 24px Microsoft JhengHei;
	vertical-align: middle;
	letter-spacing: 12px;
}

#logo:link, #logo:hover, #logo:visited
	{
	text-decoration: none;
	color: #555;
}

.table_center th, .table_center td{
	vertical-align:middle;
	text-align:center;
}

/* top_member  =====================*/

#top_member {
	float: right;
	font: 16px Microsoft JhengHei;
	line-height: 20px;
	letter-spacing: 2px;
}

#top_member li{
	list-style:none;
	display:inline;
	padding:0px 8px;	
}

#top_member a {
	font: 16px Microsoft JhengHei;
	color: rgb(119,188,160);
}

#top_member a:hover {
	color: rgb(48,78,101);
	text-decoration: none;
}

/* menu_section  =====================*/
#menu_section {
	min-width: 1200px;
	background: rgb(48, 78, 101);
	padding: 9px 0px;
}

#inside_menu a {
	font: 16px Microsoft JhengHei;
	color: white;
	/* border:red 1px solid; */
	letter-spacing: 3px;
	padding: 3px 39px;
}

#inside_menu a:hover {
	color: rgb(169, 211, 197);
	text-decoration: none;
}

.borderless td,.borderless tr {
	padding: 10px;
}

/* center_section =====================*/
#center_section {
/* 	font: 14px Microsoft JhengHei; */
	padding-top:80px;
	padding-bottom: 250px;
}

/* footer_section =====================*/
#footer_section {
	min-width: 1200px;
	/* min-width:1200px; */
	background: rgb(236, 250, 247);
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 5px solid rgb(48, 78, 101);
}

#footer_text {
	float: left;
	font: 14px Microsoft JhengHei;
	padding: 10px 0px;
}

#footer_logo {
	float: right;
}

