

button{
	margin:0px;
}





.table-bordered>tr.success>td,
.table-bordered>tr.success>th {
  background-color:  rgb(225,237,233) !important;
}

.table-bordered>tr.active>td,
.table-bordered>tr.active>th {
  background-color:  #eee !important;
}

.table-bordered{
	margin:60px 0px;
	
}

.borderless td, 
.borderless tr{
    padding:10px;
}

input[type="text"] {
	width: 400px;
}

.top_table td{
	vertical-align:top;
	padding:0px 5px;
}



