
.center_header{
	font:bold 20px Microsoft JhengHei;
	color:rgb(119,188,160);
	color:rgb(48,78,101);
	margin:30px 0px 20px 0px;	
}

.center_title{
	font:bold 16px Microsoft JhengHei;
	color:#444;
	margin:20px 0px 10px 0px;
}

.center_desc{
	font: 14px Microsoft JhengHei;
	color:#777;
}
.center_price{
	font: bold 16px Microsoft JhengHei;
	color:rgb(119,188,160);
}
#center_section{
	font:14px  Microsoft JhengHei;
	/* margin-top:50px; */
	padding-bottom:180px;	
}


/* item_section ====== */
.course_img{
	height:40px;
	margin:0px 8px;
}
.program_img{
	height:100x;
	margin:5px 5px;
}
#intro_list{
	list-style:none;
}
#intro_list li{	
	margin-bottom:10px;
	padding-right:40px;
}
#confirm_list{
	list-style:none;
	padding:0px;
}
#confirm_list li{	
	margin-bottom:10px;
	padding-right:40px;
	font: 16px Microsoft JhengHei;
	
}

#item_section table tr td{
	vertical-align:middle;
}

#item_section table tr td:nth-child(3),
#item_section table tr td:nth-child(4){
	width:80px;
}

.red{
	color:red;
}
.big{
	font-size:larger;
	font-weight:900;
}

.center_header {
	font: bold 20px Microsoft JhengHei;
	color: rgb(119, 188, 160);
	color: rgb(48, 78, 101);
	margin: 0px 0px 20px 0px;
	/* border:blue 1px solid; */
}

