/* center_section =====================*/

.center_title{
	font:bold 16px Microsoft JhengHei;
	color:#444;
	margin:20px 0px 10px 0px;
}

.center_desc{
	font: 14px Microsoft JhengHei;
	color:#777;
}

.center_price{
	font: bold 16px Microsoft JhengHei;
	color:rgb(119,188,160);
}

/* intro_section ====== */

.program_img{
	height:200px;
	margin:20px 10px;
}

#intro_list{
	list-style:none;
}

#intro_list li{
	margin-bottom:10px;
}

/* list_section ====== */

.course_img{
	height:90px;
	margin:20px 10px;
}

table tr td{
	margin:50px;
	height:150px;
}

#list_section{
	margin-right:20px
}

#list_section table tr td:first-child{
	width:120px;
	
}

#list_section table tr td:last-child{
	width:120px;
	text-align:right;
}
