	#divid {
		width: 1100px;
		height: 350px;
		position: relative;
		overflow: hidden;
		border:thick;
	}
	#divid ul, #divid ul li {
		margin: 0;
		padding: 0;
		list-style: none;
		font-weight:bolder;
	}
	#divid .lists {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	#divid .lists img {
		width: 100%;
		height: 100%;
		border: none;
	}
	#divid .controlbar {
		width: 100%;
		height: 45px;
		position: relative;
		bottom: 0;
		font-size: 18px;
		z-index: 2;
	}
	#divid .controlbar li {
		float: left;
	}
	#divid .controlbar li a {
		display: block;
		width: 75px;	
		height: 45px;
		line-height: 45px;
		margin-right: 1px;
		text-align: center;
		background: #000;
		color: #fff;
		text-decoration: none;
	}
	#divid .controlbar li.selected a {
		background: #f90;
	}