
.center_header{
	font:bold 20px Microsoft JhengHei;
	color:rgb(119,188,160);
	color:rgb(48,78,101);
	margin:0px 0px 20px 0px;
		/* border:blue 1px solid; */
	
}

.center_title{
	font:bold 16px Microsoft JhengHei;
	/* text-align:center; */
	color:#444;
	/* border:green 1px solid; */
	margin:20px 0px 10px 0px;
}

.center_desc{
	font: 14px Microsoft JhengHei;
	/* text-align:center; */
	color:#777;
}
.center_price{
	font: bold 16px Microsoft JhengHei;
	/* text-align:center; */
	color:rgb(119,188,160);
}


/* center_section =====================*/
/* list_section ====== */

.program_img{
	height:150px;
	margin:20px 10px;
}
table tr td{
	/* border:pink 1px solid; */
	margin:50px;
	height:1px;
}

table tr td:first-child{
	width:120px;
	
}



