
/* center_section =====================*/


.center_header{
	font:bold 20px Microsoft JhengHei;
	color:rgb(119,188,160);
	color:rgb(48,78,101);
	margin:50px 0px 20px 0px;
}

.center_title{
	font:bold 16px Microsoft JhengHei;
	color:#444;
	margin:20px 0px 10px 0px;
}

.center_desc{
	font: 14px Microsoft JhengHei;
	color:#777;
}
.center_price{
	font: bold 16px Microsoft JhengHei;
	color:rgb(119,188,160);
}

/* list_section ====== */
#center_section{
	font:14px  Microsoft JhengHei;
	padding-bottom:180px;	
}

#list_section{
	width:800px;
	float:left;
	margin-right:20px
}

.course_img{
	height:90px;
	margin:20px 10px;
}
table tr td{
	margin:50px;
	height:1px;
}

table tr td:first-child{
	width:120px;
	
}



/* inner_table ====== */

#inner_table{
	width:100%;
	

}
#inner_table td{
	vertical-align:top;
	
}



.progress_bar{	
	width:250px;
	margin-top:5px;
}

.progress {
	background: rgba(245, 245, 245, 1); 
	border: 0px solid rgba(245, 245, 245, 1); 
	border-radius: 4px; 
	height: 10px;
}

.progress-bar-custom {
	background: rgb(169,211,197);	
}

