	#divid {
		width: 1200px;
		height: 400px;
		position: relative;
		overflow: hidden;
	}
	#divid ul, #divid ul li {
		margin: 0;
		padding: 0;
		list-style: none;
		font-weight:bolder;
	}
	#divid .lists {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	#divid .lists img {
		width: 100%;
		height: 100%;
		border: none;
	}
	#divid .controlbar {
		width: 100%;
		height: 35px;
		position: absolute;
		bottom: 0;
		font-size: 13px;
		z-index: 2;
	}
	#divid .controlbar li {
		float: left;
	}
	#divid .controlbar li a {
		display: block;
		width: 50px;	/* 寬度會影響未放大前顯示的字數 */
		height: 35px;
		line-height: 35px;
		margin-right: 1px;
		text-align: center;
		background: #000;
		color: #fff;
		text-decoration: none;
	}
	#divid .controlbar li.selected a {
		background: #f90;
	}