/*圖片列表*/
	ul, li {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	#divid {
		width: 900px;	/* 圖片的寬 */
		height: 430px;	/* 圖片的高 + 30 */
		border:10px solid gray;
	}
	.divclass{
		width: 900px;	/* 圖片的寬 */
		height: 400px;	/* 圖片的高 */
		position: relative;
		overflow: hidden;	/* 隱藏圖片的卷軸 */
	}
	.divclass ul.list {
		position: absolute;
		width: 9999px;
		height: 100%;
	}
	.divclass ul.list li {
		float: left;
		width: 900px;	/* 圖片的寬 */
		height: 100%;
	}
	.divclass ul.list img{
		width: 100%;	/* 統整圖片的寬 */
		height: 100%;	/* 統整圖片的高 */
		border: 0;
	}
	
/*控制條*/
	.controlbar {
		height: 24px;	/* 24+3+3=30 */
		padding: 3px;
		color: #fff;
		font-size: 13px;
		background: #333;
	}
	.controlbar ul {
		float: left;
	}
	.controlbar ul li {
		float: left;
		padding: 0 5px;
		line-height: 20px;
		margin: 2px;
		background: #666;
		cursor: pointer;
	}
	.controlbar ul.numbers {
		margin-left: 13px;
	}
	.controlbar ul li.current {
		background: #fff;
		color:#0f0;
	}
	.controlbar ul li.hover {
		background: #fff;
		color:#f00;
	}