/* 
深藍 rgb(48,78,101)
深深綠 rgb(119,188,160)
深綠 rgb(169,211,197)
淺綠 rgb(225,237,233)
rgb(236,250,247)

 */
.inside{
	width:1080px;
	margin:0px auto;
}


#header_section a:link,#header_section a:hover,#header_section a:visited{
	text-decoration:none;
	color:#555;
}

a:hover{
	text-decoration:none;
}




hr{
	margin:40px 0px;
	height:1px;
	border-width:0;
	background-color:#ccc;
		/* border:blue 1px solid; */
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

#big_wrapper{
	min-height:100%;
	position:relative;
}

#header_section{
	min-width:1200px;	
	background:rgb(236,250,247);	
	border-bottom:5px solid rgb(169,211,197);
	padding:10px 0px 15px 0px;
}
#logo{
	float:left;
}
#logo_img{
	vertical-align:bottom;
	height:40px;
}
#logo_eng{
	font:26px rockwell;
	vertical-align:middle;
	letter-spacing:3px;
}
#logo_ch{
	font:24px 微軟正黑體;
	vertical-align:middle;
	letter-spacing:12px;
}
#top_member{
	float:right;
	font:16px 微軟正黑體;
	line-height:20px;
	letter-spacing:3px;	
}



/* menu_section  =====================*/
#menu_section{
	width:100%;	
	background:rgb(48,78,101);
	padding:9px 0px;	
}
#inside_menu a{	
	font:16px 微軟正黑體;
	color:white;
	/* border:red 1px solid; */
	letter-spacing:3px;
	padding:3px 39px;
}
#inside_menu a:hover{	
	color:rgb(169,211,197);
	text-decoration:none;	
}


/* center_section =====================*/

.center_header{
	font:bold 20px 微軟正黑體;
	color:rgb(119,188,160);
	color:rgb(48,78,101);
	margin:30px 0px 20px 0px;	
}

.center_title{
	font:bold 16px 微軟正黑體;
	color:#444;
	margin:20px 0px 10px 0px;
}

.center_desc{
	font: 14px 微軟正黑體;
	color:#777;
}
.center_price{
	font: bold 16px 微軟正黑體;
	color:rgb(119,188,160);
}
#center_section{
	font:14px  微軟正黑體;
	/* margin-top:50px; */
	padding-bottom:180px;	
}
#list_section{
	/* border:red 1px solid;	 */
	width:750px;
	float:left;
	margin-right:20px

}
#teacher_section{
	/* border:green 1px solid; */
	width:300px;
	float:right;
}

/* item_section ====== */
.course_img{
	height:120px;
	margin:20px 10px;
}
#intro_list{
	list-style:none;
}
#intro_list li{	
	margin-bottom:10px;
	padding-right:40px;
}
#confirm_list{
	list-style:none;
	padding:0px;
}
#confirm_list li{	
	margin-bottom:10px;
	padding-right:40px;
	font: 16px 微軟正黑體;
	
}
#buy_button,#cancel_button{
	display:inline;
}

#buy_button,#cancel_button{
	width:150px;
	text-align:center;
	border-radius:5px;
	background:rgb(48,78,101);
	color:white;
	font:16px 微軟正黑體;
	padding:3px 7px;
}

#buy_button:hover,#cancel_button:hover{	
	background:rgb(169,211,197);		
}
#item_section table tr td{
	vertical-align:middle;
}
#item_section table tr td:nth-child(3),
#item_section table tr td:nth-child(4){
	width:100px;
	

}




/* footer_section =====================*/
#footer_section{
	min-width:1200px;
	/* min-width:1200px; */
	background:rgb(236,250,247);
	height:100px;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	border-top:5px solid rgb(48,78,101);	
	
}
#footer_text{
	float:left;
	font:14px  微軟正黑體;
	padding:10px 0px;
}
#footer_logo{
	float:right;
}



















