/* 
深藍 rgb(48,78,101)
深深綠 rgb(119,188,160)
深綠 rgb(169,211,197)
淺綠 rgb(225,237,233)
rgb(236,250,247)

 */
.inside{
	width:1080px;
	margin:0px auto;

}

.center_header{
	font:bold 20px 微軟正黑體;
	color:rgb(119,188,160);
	color:rgb(48,78,101);
	margin:50px 0px 20px 0px;
		/* border:blue 1px solid; */
	
}

.center_title{
	font:bold 16px 微軟正黑體;
	/* text-align:center; */
	color:#444;
	/* border:green 1px solid; */
	margin-bottom:5px;
}

.center_desc{
	font: 14px 微軟正黑體;
	/* text-align:center; */
	color:#777;
}
a:link,a:hover,a:visited{
	text-decoration:none;
	color:#555;
}





hr{
	margin:40px 0px;
	height:1px;
	border-width:0;
	background-color:#ccc;
		/* border:blue 1px solid; */
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

#big_wrapper{
	min-height:100%;
	position:relative;
}

#header_section{
	min-width:1200px;	
	background:rgb(236,250,247);	
	border-bottom:5px solid rgb(169,211,197);
	padding:10px 0px 15px 0px;
}
#logo{
	float:left;
}
#logo_img{
	vertical-align:bottom;
	height:40px;
}
#logo_eng{
	font:26px rockwell;
	vertical-align:middle;
	letter-spacing:3px;
	color:#555
}
#logo_ch{
	font:24px 微軟正黑體;
	vertical-align:middle;
	letter-spacing:12px;
	color:#555
}
#top_member{
	float:right;
	font:16px 微軟正黑體;
	line-height:20px;
	letter-spacing:3px;	
}



/* menu_section  =====================*/
#menu_section{
	width:100%;	
	background:rgb(48,78,101);
	padding:9px 0px;	
}
#inside_menu a{	
	font:16px 微軟正黑體;
	color:white;
	/* border:red 1px solid; */
	letter-spacing:3px;
	padding:3px 39px;
}
#inside_menu a:hover{	
	color:rgb(169,211,197);
	text-decoration:none;	
}


/* center_section =====================*/

#center_section{
	font:14px  微軟正黑體;
	margin:50px 0px;
	padding-bottom:100px;	
}

.tab-content{
	padding:0px 0px 0px 30px;
}
.nav-tabs a{
	font:16px  微軟正黑體;
	width:150px;
}
/* footer_section =====================*/
#footer_section{
	min-width:1200px;
	/* min-width:1200px; */
	background:rgb(236,250,247);
	height:100px;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	border-top:5px solid rgb(48,78,101);	
	
}
#footer_text{
	float:left;
	font:14px  微軟正黑體;
	padding:10px 0px;
}
#footer_logo{
	float:right;
}



















