#table_wrapper{
	border:1px solid #ddd;
	float:left;
	margin:0px 5px 50px 5px;
	
}

table tr td {
	text-align:center;
	padding:5px 0px;
/* 	border:1px solid red; */
	width:200px;
}
.hightlight{
	color:rgb(119,188,160);
	font:bold 18px Microsoft JhengHei;
}

.grayscale { 
	opacity: 0.25;
    filter: alpha(opacity=25);
  	-webkit-filter: grayscale(100%);
 	-moz-filter: grayscale(100%);
  	-ms-filter: grayscale(100%);
  	-o-filter: grayscale(100%);
  	filter: grayscale(100%);
  	filter: gray; /* IE 6-9 */
}